.root {
  margin: 0 auto;
  max-width: 900px;

  display: flex;
  align-items: center;
  flex-direction: row;
}

.oceanWrapper {
  position: relative;

  box-sizing: border-box;

  border: 1px solid #afafaf;

  line-height: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(55, 55, 55, 0.2);
}

.exitOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  background-color: rgba(55, 55, 55, 0.1);
}

.controls {
  margin-left: 20px;
  width: 215px;
  box-sizing: border-box;
}

.controlsButtons {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.startControls {
  margin-bottom: 40px;
}

.evolutionControls,
.startControls {
  & > div:not(:last-child) {
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 420px) {
  .root {
    flex-direction: column;
  }

  .controls {
    margin: 0;
    padding: 20px;
    width: 100%;
  }

  .controlsButtons {
    justify-content: space-around;
  }
}

.hidden {
  visibility: hidden;
}
