.root {
  width: 740px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.inactive {
  max-height: 100%;
  overflow: hidden;
}

.pageContent {
  text-align: left;
  color: #2f2f2f;
  font-size: 21px;
  line-height: 1.6;
}
